In [24]:
import pandas as pd
import numpy as np
import sklearn

In [25]:
headers = ["Allegation ID", "Section Name", "Column Name", "Text Content", "Area Name", "Median Income", "Complainant Gender", "Complainant Race", "Complainant Birth Year"]

data = pd.read_csv('./data/community_allegation_narratives.csv', names=headers)

In [26]:
data.columns

Index(['Allegation ID', 'Section Name', 'Column Name', 'Text Content',
       'Area Name', 'Median Income', 'Complainant Gender', 'Complainant Race',
       'Complainant Birth Year'],
      dtype='object')

In [27]:
# Use this for sentiment analysis

summaries = data['Text Content']

In [38]:
# y should be the final sentiment values, if we end up doing learning/prediction on the sentiments

X = data[headers[:3] + headers[4:]]
y = None

X

,Allegation ID,Section Name,Column Name,Area Name,Median Income,Complainant Gender,Complainant Race,Complainant Birth Year
0,1062924,Accused Members,Initial / Intake Allegation,Hermosa,"$39,057",F,Hispanic,1971.0
1,1050875,Accused Members,Initial / Intake Allegation,Chicago Lawn,"$32,944",F,Black,1977.0
2,1050875,Incident Finding / Overall Case Finding,Finding,Chicago Lawn,"$32,944",F,Black,1977.0
3,1060347,Accused Members,Initial / Intake Allegation,North Park,"$51,589",F,White,1970.0
4,1060347,Accused Members,Initial / Intake Allegation,North Park,"$51,589",F,White,1970.0
...,...,...,...,...,...,...,...,...
47713,1051081,Incident Finding / Overall Case Finding,Finding,Douglas,"$29,099",M,Black,1964.0
47714,1051081,Current Allegations,Allegation,Douglas,"$29,099",M,Black,1964.0
47715,1051081,Accused Members,Initial / Intake Allegation,Douglas,"$29,099",M,Black,1964.0
47716,1049899,Accused Members,Initial / Intake Allegation,Austin,"$31,478",F,White,NaN
47717,1049899,Incident Finding / Overall Case Finding,Finding,Austin,"$31,478",F,White,NaN